.RecipeCard 
    min-height: 28em
    max-width: 15em
    border: 1px solid #ecebea
    border-radius: 8px
    background-color: white
    padding: 10px
    display: flex
    flex-direction: column
    align-items: center
    transition: all 0.4s ease-in-out 0s
    margin: 0.5em

    .imgCard
        width: 15em
        height: 9em
        border-radius: 8px

    .ingredientList
        display: flex
        align-items: flex-start
        flex-direction: column
    
    .separator
        height: 0.1em
        width: 12em
        background-color: grey
        margin-bottom: 1px


.divButton 
    display: flex
    margin: auto 0 12px
    gap: 20px

    .buttonChange
        background-color: #4A3428
        border: none
        border-radius: 8px
        color: white
        font-weight: bold
        font-size: 1em
        cursor: pointer
        height: 40px
        padding: 14px
        display: flex
        align-items: center
        scroll-snap-align: center
        white-space: nowrap
        margin-top: auto

    .buttonChange:hover
        background-color: transparent
        border: 2px solid #4A3428
        border-radius: 8px
        color: #4A3428
        font-weight: bold
        font-size: 1em
        cursor: pointer
        height: 40px
        padding: 14px
        display: flex
        align-items: center
        scroll-snap-align: center
        white-space: nowrap

.RecipeCard:hover 
    box-shadow: 10px 5px 10px black
    opacity: 0.7
    transform: translate(0, -0.2em)

    